@import '../../assets/styles/resources.css';

.c-separator {
  padding-top: var(--space-y-7);
  padding-bottom: var(--space-y-7);
  text-align: center;
}

@media (--mq-md) {
  .c-separator {
    padding-top: var(--space-y-8);
    padding-bottom: var(--space-y-8);
  }
}

@media (--mq-lg) {
  .c-separator {
    padding-top: var(--space-y-12);
    padding-bottom: var(--space-y-12);
  }
}

.c-separator svg {
  width: 30px;
  fill: var(--color-black);
}

.c-separator--compact {
  padding-top: var(--space-y-1);
  padding-bottom: var(--space-y-1);
  text-align: center;
}

@media (--mq-lg) {
  .c-separator--compact {
    padding-top: var(--space-y-2);
    padding-bottom: var(--space-y-2);
  }
}
