* {
  box-sizing: border-box;
}

.l-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.l-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.l-header,
.l-footer {
  flex-shrink: 0;
}
