@import '~/assets/styles/resources.css';

.c-section {

  &--padded {
    padding: var(--space-y-5) var(--space-x-5);
  }

  &--padded-lg {
    padding: var(--space-y-8) var(--space-x-8);

    @media (--mq-md) {
      padding: var(--space-y-12) var(--space-x-12);
    }
  }

  &__header {
    text-align: center;
    max-width: 100ch;
    margin: 0 auto;

    /* @media (--mq-lg) {
      margin-bottom: var(--space-y-5);
    } */
  }

  &__title {
    /* margin: 0 0 var(--space-y-2); */
    color: var(--color-black);
  }

  &__action {
    font-family: var(--font-sans-serif);
    text-align: center;
  }
}
