@import '~/assets/styles/resources.css';

.c-section {
}

.c-section--padded {
  padding: var(--space-y-5) var(--space-x-5);
}

.c-section--padded-lg {
  padding: var(--space-y-8) var(--space-x-8);

  @media (--mq-md) {
    padding: var(--space-y-12) var(--space-x-12);
  }
}

.c-section__header {
  text-align: center;
  max-width: 100ch;
  margin: 0 auto;
}

.c-section__title {
  color: var(--color-brand-mondo);
}

.c-section__action {
  font-family: var(--font-sans-serif);
  text-align: center;
}

.c-section__footer {
  display: flex;
  justify-content: center;
  margin-top: var(--space-y-8);
}
